<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Default</title>
    <link rel="stylesheet" href="../css/template.css" charset="utf-8">
    <link rel="stylesheet" href="../css/main.css" charset="utf-8">
    <link rel="stylesheet" href="../css/main-page.css" charset="utf-8">
  </head>

  <header>
    <ul class="navbar-header">
      <li><a href="#">Mateus</a></li>
      <li><a href="#">Sobre</a></li>
      <li class="contact"><a href="#">Contato</a></li>
    </ul>
  </header>

  <body>
    <div>
      {{ content }}
    </div>

  </body>
  <footer>

  </footer>
</html>
